[Desktop Entry]
Type=Application
Name=SY Camera
Comment=Raspberry Pi Camera Application
Exec=@PROJECT_DIR@/start.sh
Terminal=false
StartupNotify=false
Categories=Graphics;
X-GNOME-Autostart-enabled=true
